@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 3D text effect utility */
.text-3d {
  text-shadow:
    0 1px 0 rgba(138, 133, 133, 0.1),
    0 2px 0 rgba(107, 103, 103, 0.1),
    0 3px 0 rgba(212, 209, 209, 0.2),
    0 1px 0 rgba(0, 0, 0, 0.2),
    0 5px 0 rgba(0, 0, 0, 0.2),
    0 8px 12px rgba(0, 0, 0, 0.5);
}