name: Deploy to Server

on:
  push:
    branches: [ dev ]

concurrency:
  group: deploy-production
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PRIVATE_KEY  }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e
            cd saveenv
            git pull 
          
            npm i --no-audit --no-fund
            npx prisma generate
            npx prisma db push
            npm run build
            pm2 delete saveenv
            pm2 start pm2.json
            pm2 save

